main {
  display: flex;
  flex-flow: row wrap;
}

section {
    margin: auto;
    width: 300px;
    overflow: hidden;
    margin: 15px;
  }
  
  img {
    height: 150px;
    border: 2px solid black;
  }
  